@import '../../../main-styles.scss';

.centered-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: white;
    padding: 50px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: $turquoise;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .error {
    color: red ;
  }